<!DOCTYPE html>
<html>
<head>
    <title>Plant Disease Prediction</title>
    <style>
        body { font-family: Arial; text-align: center; padding: 40px; }
        .img-preview { max-width: 300px; margin-top: 20px; }
    </style>
</head>
<body>

<h1>🍅 Plant Disease Prediction</h1>

<form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" required>
    <br><br>
    <button type="submit">Predict</button>
</form>

{% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    <h3>Confidence: {{ "%.2f" | format(confidence * 100) }}%</h3>

    <img src="{{ img_path }}" class="img-preview">
{% endif %}

</body>
</html>
